#stats {
	.container {
		text-align: center;

		.cover {
			.content {
				.row {
					display: inline;
					text-align: center;

					.graph {
						float: none;
						display: inline-block;

						.chart {
							svg {
								width: 100%;
								height: 400px;
							}
						}
					}
				}
			}
		}
	}
}
